

body {
    background-color: #173a0a;
    font-family: Arial, sans-serif;
}


.section {
    background-color: rgb(255, 255, 255);
    border: 1px double #1c19f8;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

#baleião {
    text-align: center;
}

#baleião img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    object-fit: cover;
}

#link a {
    color: rgb(0, 0, 0);
}

#link a:hover {
    color: red;
}

