main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: purple;
    color: white;
}

body{
    background-color: greenyellow;
     margin: 0;
    padding: 0;
}

#Descrição img {
    width: 250px;
    height: auto;
}

/* Botões lado a lado */
#Botão {
    display: flex;
    gap: 10px;
}

/* Estilo dos botões */
#Botão button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* Comprar agora */
#Botão button:first-child {
    background-color: red;
    color: white;
}

/* Adicionar ao carrinho */
.btn-carrinho {
    background-color: gold;
    color: black;
}

/* Efeito ao passar o mouse */
#Botão button:hover {
    transform: scale(1.05);
}